APP_USERNAME=your_username_here
APP_PASSWORD=your_password_here
SESSION_SECRET=change_me_to_a_long_random_string

GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...key contents...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your_google_sheet_id_here

